.save {
    display: none;
  }
  #example {
    left: 0px;
  }
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.btn-warning{
  border-left: 10px solid #42A948; /* green */
  border-radius: 8px;
  height:30px;
  width:70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
    
}
button.btn-warning:hover{
  background-color:#42A948 ;
}

.btn-danger{
  border-left: 10px solid #a94442; /* red */
  border-radius: 8px;
  height:30px;
    width:70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}
button.btn-danger:hover{
  background-color:#a94442 ;
}